@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 30px 60px -15px rgb(0 0 0 / 0.4);
}
